html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

.rc {
  position: absolute;
  left: 70px;
  bottom: 400px;
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
  line-height: 1em;
  color: #c3c2be;
  font-weight:bold;
  font-size: 25px;
  text-shadow:0px 0px 0 rgb(153,152,148),0px -1px 0 rgb(135,134,130),0px -2px 0 rgb(116,115,111),0px -3px 0 rgb(98,97,93), 0px -4px 0 rgb(80,79,75),0px -5px 4px rgba(0,0,0,0),0px -5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
  -webkit-transform: rotateX(45deg) rotateZ(-1deg);
  -moz-transform: rotateX(45deg) rotateZ(-1deg);
}

.roll {
  display: inline-block;
  overflow: hidden;
  z-index: 200;
  position: relative;
  vertical-align: top;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
}

.roll span {
  display: block;
  position: relative;
  padding: 0 2px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  overflow: hidden;
}

a.roll:hover span {
  overflow: visible;
  -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
  -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}

.roll span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  padding: 0 2px;
  color: #424b51;
  background: #fff;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
  -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}


/* 1. GLOBAL STYLES */

body {
  overflow-x: hidden;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #222222;
}

.body {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* 2. HEADER */

header {
  background:transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 20px 0px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.navbar {
  text-transform: uppercase;
  background: transparent;
  margin: 0;
  border-radius: 0px;
  border: none;
  padding: 5px 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-default,
.navbar-inverse {
  border: 0;
}

.navbar-brand {
  color: #FFF !important;
  text-transform: none;
  margin: 0px;
}

